DataListen/Service References/srCouponPrint/wsCouponPrint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCouponData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSiteCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCouponDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCouponDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCouponState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCouponID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCouponStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCouponStateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCouponDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetCouponData" />
  </wsdl:message>
  <wsdl:message name="GetCouponDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetCouponDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCouponStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCouponState" />
  </wsdl:message>
  <wsdl:message name="UpdateCouponStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCouponStateResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCouponPrintSoap">
    <wsdl:operation name="GetCouponData">
      <wsdl:input message="tns:GetCouponDataSoapIn" />
      <wsdl:output message="tns:GetCouponDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCouponState">
      <wsdl:input message="tns:UpdateCouponStateSoapIn" />
      <wsdl:output message="tns:UpdateCouponStateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCouponPrintSoap" type="tns:wsCouponPrintSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCouponData">
      <soap:operation soapAction="http://tempuri.org/GetCouponData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCouponState">
      <soap:operation soapAction="http://tempuri.org/UpdateCouponState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCouponPrintSoap12" type="tns:wsCouponPrintSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCouponData">
      <soap12:operation soapAction="http://tempuri.org/GetCouponData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCouponState">
      <soap12:operation soapAction="http://tempuri.org/UpdateCouponState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCouponPrint">
    <wsdl:port name="wsCouponPrintSoap" binding="tns:wsCouponPrintSoap">
      <soap:address location="http://localhost:1156/WebService/wsCouponPrint.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCouponPrintSoap12" binding="tns:wsCouponPrintSoap12">
      <soap12:address location="http://localhost:1156/WebService/wsCouponPrint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>