Mozart/Service References/SecHandProductTip/SecHandProductMsg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SecHandProductTip">
        <s:complexType />
      </s:element>
      <s:element name="SecHandProductTipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecHandProductTipResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SecHandProductTipSoapIn">
    <wsdl:part name="parameters" element="tns:SecHandProductTip" />
  </wsdl:message>
  <wsdl:message name="SecHandProductTipSoapOut">
    <wsdl:part name="parameters" element="tns:SecHandProductTipResponse" />
  </wsdl:message>
  <wsdl:portType name="SecHandProductMsgSoap">
    <wsdl:operation name="SecHandProductTip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">消息提醒</wsdl:documentation>
      <wsdl:input message="tns:SecHandProductTipSoapIn" />
      <wsdl:output message="tns:SecHandProductTipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecHandProductMsgSoap" type="tns:SecHandProductMsgSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SecHandProductTip">
      <soap:operation soapAction="http://tempuri.org/SecHandProductTip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecHandProductMsgSoap12" type="tns:SecHandProductMsgSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SecHandProductTip">
      <soap12:operation soapAction="http://tempuri.org/SecHandProductTip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecHandProductMsg">
    <wsdl:port name="SecHandProductMsgSoap" binding="tns:SecHandProductMsgSoap">
      <soap:address location="http://localhost:1156/WebService/SecHandProductMsg.asmx" />
    </wsdl:port>
    <wsdl:port name="SecHandProductMsgSoap12" binding="tns:SecHandProductMsgSoap12">
      <soap12:address location="http://localhost:1156/WebService/SecHandProductMsg.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>